<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DevJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JavaDev</display-name>
    <servlet-name>JavaDev</servlet-name>
    <servlet-class>JavaDev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaDev</servlet-name>
    <url-pattern>/JavaDev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpServ</display-name>
    <servlet-name>EmpServ</servlet-name>
    <servlet-class>EmpServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServ</servlet-name>
    <url-pattern>/EmpServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestUser</display-name>
    <servlet-name>TestUser</servlet-name>
    <servlet-class>TestUser</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>user</param-value>
    </init-param>
    <init-param>
      <param-name>userpass</param-name>
      <param-value>user123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestUser</servlet-name>
    <url-pattern>/TestUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
</web-app>